body{
  background-color: #0D2235;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.footer{
  margin-top: 5rem;
  text-align:center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}
@media (min-width: 768px) {
  .footer{
    margin-top:auto;
  }
}
